@using Domain.EntitiesDTO
@model List<CategoryDTO>

<div class="row">
    <div class="col-md-12">
        <a asp-action="Create" asp-controller="Category" class="btn btn-success">Добавить</a>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table">
            <thead>
            <tr>     
                    <td>Названия</td>
                    <td>Описания</td> 
                   
                           
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    
                    <td>@item.Name</td>
                    <td>@item.Description</td> 
                   
                   
                   

                    <td>
                        <a asp-action="Edit" asp-controller="Category" asp-route-id="@item.Id">
                            Измениить
                        </a>
                        <a asp-action="Delete" asp-controller="Category" asp-route-id="@item.Id">
                            Удалить
                        </a>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>